# Complete list of all available properties: https://docs.upsun.com/app/reference/
applications:
  celebrate-drupal:
    source:
      root: '/'

    type: 'php:8.4'

    relationships:
      mariadb: 'db:mariadb'
      redis: 'cache:redis'

    mounts:
        '/web/sites/default/files':
            source: storage
            source_path: 'files'
        '/tmp':
            source: storage
            source_path: 'tmp'
        '/private':
            source: storage
            source_path: 'private'
        '/.drush':
            source: storage
            source_path: 'drush'
        '/drush-backups':
            source: storage
            source_path: 'drush-backups'
    build:
        flavor: composer

    web:
      locations:
        '/':
            root: 'web'
            expires: 5m
            passthru: '/index.php'
            allow: false
            rules:
                '\.(avif|webp|jpe?g|png|gif|svgz?|css|js|map|ico|bmp|eot|woff2?|otf|ttf)$':
                    allow: true
                '^/robots\.txt$':
                    allow: true
                '^/sitemap\.xml$':
                    allow: true
                '^/sites/sites\.php$':
                    scripts: false
                '^/sites/[^/]+/settings.*?\.php$':
                    scripts: false
        '/sites/default/files':
            allow: true
            expires: 5m
            passthru: '/index.php'
            root: 'web/sites/default/files'
            scripts: false
            rules:
                '^/sites/default/files/(css|js)':
                    expires: 2w
    variables:
      env:
        N_PREFIX: '/app/.global'

    build:
      flavor: none

    dependencies:
      nodejs:
        n: '*'
        npx: '*'
        yarn: '^1.22.0'
      php:
        composer/composer: '^2'

    hooks:
      build: |
        set -eux
        composer --no-ansi --no-interaction install --no-progress --prefer-dist --optimize-autoloader --no-dev
        n auto || n lts
        hash -r
        yarn
        yarn build

      deploy: |
        set -eux
        if [ -n "$(drush status --field=bootstrap)" ]; then
            drush -y cache-rebuild
            drush -y updatedb
            if [ -n "$(ls $(drush php:eval "echo realpath(Drupal\Core\Site\Settings::get('config_sync_directory'));")/*.yml 2>/dev/null)" ]; then
                drush -y config-import
            else
                echo "No config to import. Skipping."
            fi
        else
            echo "Drupal not installed. Skipping standard Drupal deploy steps"
        fi

      # The post_deploy hook is run after the app container has been started and after it has started accepting requests.
      # More information: https://docs.upsun.com/app/hooks/compare/compare/post-deploy/
      # post_deploy: |

    # Scheduled tasks for the app.
    # More information: https://docs.upsun.com/app/reference/crons/
    crons:
        celebrate-drupal:
            spec: '*/19 * * * *'
            commands:
                start: 'cd web ; drush core-cron'

    # Customizations to your PHP or Lisp runtime. More information: https://docs.upsun.com/app/reference/runtime/
    # runtime:

    # More information: https://docs.upsun.com/app/reference/additional-hosts/
    # additional_hosts:

services:
  mariadb:
    type: mariadb:11.8

  redis:
    type: redis:8.0

routes:
  'https://{default}/':
    type: upstream
    upstream: 'celebrate-drupal:http'
    cache:
      enabled: true
      # Base the cache on the session cookie and custom Drupal cookies. Ignore all other cookies.
      cookies: ['/^SS?ESS/', '/^Drupal.visitor/']
    redirects:
      expires: 1d
      paths:
        '/files/drupalcon-prague-2022-photobooth.zip':
          to: 'https://{default}/sites/default/files/DrupalConPrague2022-photobooth.zip'

  'https://www.{default}':
    type: redirect
    to: 'https://{default}/'
